*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: lightgray;

}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    /* border: 1px solid red; */
}

#header{
    height: 145px;
    background: #f0f0f0;
}
#logo{
    padding: 20px;
    margin-left: 20px;
    float:left;

}
#logo img{
    float:left;
    height: 100px   ;
}
#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #01b1ea;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222;
    transition: all 300ms;

}

#logo a:hover{
    text-shadow: 0px 2px 1px #222, 0px 0px 4px #000;
}

/* Menu */
#menu{
    clear: both;
    background:#0c0113;
    color:#f0f0f0;
    height: 55px;
    border-bottom:  4px solid #f10505 ;



}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin:0px auto;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #eff0f3;
}

#menu a{
    display: block;
    color: #f0f0f0;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #ffffff;

}

#menu a:hover{
    background: #01b1ea;
    
}

#content{
    margin: 0px auto;
    overflow: hidden;
    background: #fffeff;
    border: 4px solid #000;

}

#lateral{
    width: 20%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 4px solid blue;
}
#lateral .block_aside{
    display: block;
    width:90%;
    margin: 5px auto;
    padding: 10px;
    border: 2px solid gray;
}
